:root {
    --couleur-primaire: #ce1b28;
    --couleur-secondaire: #111111;
    --couleur-clair: #555555;
    --couleur-fonce: #ffffff;
    --font-primaire: 'Roboto', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: var(--couleur-secondaire);
}
h1{
  color: var(--couleur-fonce);
}
header .logo a {
    color: var(--couleur-fonce);
    font-family: var(--font-primaire);
    font-size: 0.4em;
    text-decoration: none;
}
header nav a {
    color: var(--couleur-fonce);
    font-family: var(--font-primaire);
    text-decoration: none;
    font-size: 0.8em;
    margin-left: 25px;
    opacity: 50%;
}




.banniere {
    position: relative;
    width: 100%;
    height: 350px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.banniere img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}
.banniere .texte-banniere {
    position: absolute;
    text-align: center;
    color: var(--couleur-fonce);
    z-index: 1;
}
.banniere .texte-banniere h1 {
    font-size: 3em;
    margin: 0 0 20px;
    font-family: var(--font-primaire);
}
.banniere .texte-banniere p {
    font-size: 1.0em;
    font-family: var(--font-primaire);
    color: var(--couleur-fonce);
    opacity: 0.5;
}
.banniere .filtre {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--couleur-secondaire); 
  opacity: 0.3;
  z-index: 1;
}



.main-banniere {
    position: relative;
    width: 100%;
    height: 1000px;
    overflow: hidden;
}

.banniere-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.filtre2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--couleur-fonce);
    opacity: 0.9;
    z-index: 1;
}

.main-texte {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    text-align: center;
    color: var(--couleur-secondaire);
    font-family: var(--font-primaire);
}
.main h1 {
    color: var(--couleur-secondaire);
    font-family: var(--font-primaire);
}

.box-grid {
    position: absolute;
    bottom: 20px;   
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 70%;
    z-index: 2;   
    margin-bottom: 50px; 
}


.box {
    background-color: var(--couleur-fonce);
    padding: 40px;
    border-radius: 5px;
    text-align: center;

}

.box img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
    padding-top: 20px;
}

.box h1 {
    font-size: 1em;
    margin: 10px 0;
    text-transform: uppercase;
    color: var(--couleur-secondaire);
    font-family: var(--font-primaire);
}

.box p {
    font-size: 0.8em;
    line-height: 1.3em;
    color: var(--couleur-secondaire);
    font-family: var(--font-primaire);
}





.banniere2 {
    position: relative;
    width: 100%;
    height: 250px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.banniere2 img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}
.banniere2 .filtre3 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--couleur-primaire); 
  opacity: 0.3;
  z-index: 1;
}
.banniere2 .texte-banniere2 {
    position: absolute;
    text-align: center;
    color: var(--couleur-fonce);
    z-index: 1;
}
.banniere2 .texte-banniere2 h1 {
    font-size: 2em;
    margin: 0 0 20px;
    font-family: var(--font-primaire);
}
.banniere2 .texte-banniere2 p {
    font-size: 1.0em;
    font-family: var(--font-primaire);
    color: var(--couleur-fonce);
    opacity: 0.5;
    padding: 0 150px;
}



