$couleur-primaire: #ce1b28;
$couleur-secondaire: #111111;
$couleur-clair: #555555;
$couleur-fonce: #ffffff;



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background-color: #f5f5f5;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}