:root {
    --couleur-primaire: #ce1b28;
    --couleur-secondaire: #111111;
    --couleur-clair: #555555;
    --couleur-fonce: #ffffff;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    background-color: var(--couleur-secondaire);
}
h1{
  color: var(--couleur-fonce);
}
header .logo a {
    color: var(--couleur-fonce);
    font-family: 'Poppins', sans-serif;
    font-size: 0.5em;
    text-decoration: none;
}
header nav a {
    color: var(--couleur-clair);
    text-decoration: none;
    font-size: 1.0 em;
    text-decoration: none;
    margin-left: 25px;
}
