:root {
    --couleur-primaire: #ce1b28;
    --couleur-secondaire: #111111;
    --couleur-clair: #555555;
    --couleur-fonce: #ffffff;
    --font-primaire: 'Roboto', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 10px;
    background-color: var(--couleur-secondaire);
}
h1{
  color: var(--couleur-fonce);
}
header .logo a {
    color: var(--couleur-fonce);
    font-family: var(--font-primaire);
    font-size: 0.4em;
    text-decoration: none;
}
header nav a {
    color: var(--couleur-fonce);
    font-family: var(--font-primaire);
    text-decoration: none;
    font-size: 0.8em;
    margin-left: 25px;
    opacity: 50%;
}




.banniere {
    position: relative;
    width: 100%;
    height: 350px; 
    display: flex;
    justify-content: center;
    align-items: center;
}
.banniere img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
    display: block;
}
.banniere .texte-banniere {
    position: absolute;
    text-align: center;
    color: var(--couleur-fonce);
    z-index: 1;
}
.banniere .texte-banniere h1 {
    font-size: 3em;
    margin: 0 0 20px;
    font-family: var(--font-primaire);
}
.banniere .texte-banniere p {
    font-size: 1.0em;
    font-family: var(--font-primaire);
    color: var(--couleur-fonce);
    opacity: 0.5;
}
.banniere .filtre {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.25); 
  z-index: 1;
}



.main-banniere {
    position: relative;
    width: 100%;
    height: 800px;
    overflow: hidden;
}

.banniere-img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.filtre2 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.9);
}

.main-texte {
    position: absolute;
    font-family: var(--font-primaire);
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: var(--couleur-secondaire);
}
.main-texte h1 {
    color: var(--couleur-secondaire);
}




.box-grid {
    position: absolute;
    bottom: 50px;
    left: 50%;
    transform: translateX(-50%);
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
    width: 70%; 
}

.box {
    background-color: var(--couleur-fonce); 
    padding: 40px;
    text-align: center;
    border-radius: 5px;
}

.box img {
    width: 100%;
    height: 100px;
    object-fit: cover;
    border-radius: 5px;
}

.box h1 {
    font-size: 1.0em;
    margin: 0;
    font-family: var(--font-primaire);
    color: var(--couleur-secondaire);
    text-transform: uppercase; 
    margin-top: 10px;
    margin-bottom: 20px;
}

.box p {
    font-size: 1.0em;
    margin: 0;
    font-family: var(--font-primaire);
}


